

<!-- Secure portion starts (show only if current user is present) -->
<% if not current_user.nil? %>
      <div class="links new">
        <h2>Drop your links Here</h2>
        <%= form_tag("/create_links", :method=>'get', :multipart => true) do %>
        <table >
          <tr>
            <td><%= text_field_tag "repo_name" , nil, placeholder: 'Enter folder name'%></td>
          </tr>
          <tr>
            <td><%= text_area_tag "all_links" , nil , placeholder: 'Drop all links here'%></td>
          </tr>
          <tr>
            <td>
              <%= submit_tag "Drop Links" , class: "btn btn-info"%>
            </td>
          </tr>
        </table >
        <%end%>
      </div>


      <div class="repo new">
        <h2>Create repo</h2>
        <%= form_for(:repo, :url => {:action => 'create'}) do |f| %>
        <table >
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <tr>
            <td><%= f.text_field :name , :placeholder=>"Folder Name"%></td>
          </tr>
          <tr>
            <td><%= f.text_field :tags , :placeholder=>"Enter space-seperated Tags" %></td>
          </tr>
        </table>
          
          <div class="form-buttons">
            <%= submit_tag "Create Folder" , class: "btn btn-info"%>
          </div>
          
        <% end %>
      </div>
<%end%>
<!-- Secure portion ends ( show only if current user is present) -->

<div class="list_of_repos">	
            <% if (current_user == @user and not current_user.nil?) or (@user.nil? and not current_user.nil?) %>
              <p>Your repositories:</p>
            <%elsif not @user.nil? %>
              <p><%=@user.profile_name %>'s repositories:</p>
            <%end%>
            <table class="table">
              <thead>

              </thead>
              <tbody>
                <% if not @repos.nil? %>
                  <% if not @repos.empty? %>
                    <% owner = current_user==@repos.first.user %>
                  <%else%>
                    <% owner = true %>
                  <%end%>
                  <% @repos.each do |repo| %>
                    <tr class="<%= cycle('odd','even') %>">                   
                      <td><%= link_to( "#{repo.name}" , "/#{@user.profile_name}/#{repo.name}") %>
                      </td>
                      <td><%= "created " + time_ago_in_words(repo.created_at) + " ago" %>
                      </td>
                      <td>
                        <%if not repo.tags.nil? %>
                            <%tags = repo.tags%>
                            <%tags = tags.chomp.split(" ")%>
                            <% if not tags.empty?%>
                                <% for tag in tags%>
                                  <%= tag %>
                                <%end%>
                            <%end%>
                        <%end%>
                      </td>
                      <% if owner %>
                        <td><%= link_to("Delete Folder" , "/delete_repo/#{repo.id}" , { confirm: "Are you sure, you want to delete this folder?"}) %>
                        </td>
                        <td> 
                          <div>
                          <form action="/add_repo_tags">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="add tags" name="tags">
                              <span class="input-group-btn">
                                <input type="hidden" name="repo_id" value="<%=repo.id%>">
                                <button class="btn btn-success" style="display: none;" type="submit">Go!</button>
                              </span>
                            </div>
                          </form>
                          </div>
                        </td>
                      <%end%>
                    </tr>
                  <%end%>
                  <% if @repos.empty? %>
                    <p>Don't have any!</p>
                  <%end%>
                <% end %>
              </tbody>
            </table>
</div>