<div id="home_button"> 
  <%=link_to("HOME", "/", :class => "btn btn-warning" )%>
</div>
<div class="fb_message_repo"> 
  <%=link_to_function "Share repo link on fb", "fb_msg_this('#{request.url}/#{@repo.user.profile_name}/#{@repo.name}')", :class => "btn btn-warning" %>
</div>
<%= render(:partial => 'shared/catch_all_links', :locals => {:links => @links})%>
<div id="group_actions">
    <div id = "send_all_pinlinks">
          <%=  link_to_modal "Email All Links", "#email_form_group" , :class=>"btn btn-info" %>
          <%repo_links = @repo.links%>
          <%= render(:partial => 'shared/email_pinlinks', :locals => {:links => repo_links}) if not repo_links.blank? %>
    </div>
    <div id = "delete_all_links">
        <%if not @repo.blank?%>
            <%=  link_to "Delete All Links", delete_all_links_path(:repo_name => @repo.name) , :class=>"btn btn-info" , :remote => true , :method => :post , :confirm => "Are you sure, you want to delete all links in this folder?"%>
        <%end%>
    </div>
</div>
<% if not current_user.nil? %>
<div class="links new">
  <%= form_tag( create_links_path , {:remote => true , :method => :post , :id => "drop_links_form"}) do %>

    <%= hidden_field_tag "repo_name", @repo.name  %>
    <%= text_area_tag "all_links" , nil , style: "display:none;" %>
    <div id = "text_box_records">
<!--  -->
    </div>
      <tr><td><a href="#" id="add_this" class="btn btn-success">AddBox</a></td></tr>
      <tr><td><%= submit_tag "Drop Links" , :class => "btn btn-info" , :id => "drop_links"%></td></tr>
  <%end%>
</div>
<% end %>
<!-- show list of links in this repo -->
<div class="list_of_links"> 
            <table class="table">
              <thead>
                <div id="message">
                <%= (not @links.blank?) ? "Links in this Repo:" : "No link yet dropped here!"%>
                </div>
              </thead>
              <tbody id="link_list">
              <% owner = current_user==@repo.user %>
                <% @links.each do |link| %>
                  <tr id= "<%= 'link_record_' + link.id.to_s %>" >
                    <%= render(:partial => 'shared/link_record', :locals => {:repo => link.repo ,:link => link , :user => @user ,:owner => owner} )%>
                  </tr>
                  <%end%> 
              </tbody>
            </table>
</div>


<script type="text/javascript">
jQuery(document).ready( function () {
  $("#text_box_records").append("<tr><td><%= escape_javascript(text_field_tag 'text_0' , nil , placeholder: 'Drop Link' )%></td><td><a href='#' id = 'X_0' class='remove_it to_create_link label label-default'> X</a></td></tr>");
  $("#X_0").css({ display: "none" });
  var total_open_counter = 1;
  var i = 0;
  $("#add_this").click( function() {
    $("#text_box_records").append("<tr><td><%= escape_javascript(text_field_tag 'default_link_id' , nil , placeholder: 'Drop Link' )%></td><td><a href='#' id = 'default_X_id' class='remove_it to_create_link label label-default'> X</a></td></tr>");
    i = i +1 ;
    var str = i.toString().match(/[0-9]+/)[0]
    $('#default_link_id').attr('id', "text_" + str);
    $('#default_X_id').attr('id', "X_" + str);
    console.log($('#text_' + i.toString()));
    $('#text_' + i.toString()).focus();
    total_open_counter += 1;
    if(total_open_counter == 1){
      $("a[id^='X_']").css({ display: "none" });
    }
    else{
         $("a[id^='X_']").css({ display: "visible" });
    }
    return false;
  });
  $('#text_box_records').on( 'click' , '.remove_it.to_create_link' , function() {
     // console.log(this.id);
    $(this).parent().parent().remove();
    total_open_counter -= 1;
    if(total_open_counter == 1){
      $("a[id^='X_']").css({ display: "none" });
    }
    else{
         $("a[id^='X_']").css({ display: "visible" });
    }    
    
    return false;
  });

  $("#drop_links_form").submit(function() {
     console.log("Ok.. Now I am Submitted!!!!");
     var all_links_to_submit = "";
     var x = 0;
     for(x=0; x<= i ; x++){
       var add_link = $("#text_" + x.toString()).val()
       if(add_link){
        all_links_to_submit = all_links_to_submit + add_link + "\n"
       }
       console.log("Adding: " + add_link + "\n");
     }
    $('#' + 'all_links').val("");
    $("#all_links").val( all_links_to_submit ) ;
    $('#catch_all_links').val( $('#catch_all_links').val() + all_links_to_submit ) ;
    console.log("Final : \n" +  $("#all_links").val() );
    return true;
  });
});
</script> 
