<%= render(:partial => 'shared/catch_all_links', :locals => {:links => @links})%>

<div class="links new">
  <%= form_tag("/create_links", :method=>'get', :multipart => true) do %>
  <table >
      <%= hidden_field_tag "repo_name", @repo.name  %>
    <tr>
      <td><%= text_area_tag "all_links" , nil , placeholder: 'Drop all links here'%></td>
    </tr>
    <tr>
      <td>
        <%= submit_tag "Drop Links" , class: "btn btn-info"%>
      </td>
    </tr>
  </table >
  <%end%>
</div>
<%if  !@has_forked_this_repo && !@is_user_same %>
  <%= link_to "Fork ", "/fork_repo/#{@user.id}/#{@repo.id}"  %>
<%end%>
<!-- show list of links in this repo -->
<div class="list_of_links"> 
            <table class="table">
              <thead>
                Links in this Repo:
              </thead>
              <tbody>
              <% owner = current_user==@repo.user %>
                <% @links.each do |link| %>
                  <tr class="<%= cycle('odd','even') %>" id= "<%= 'link_record_' + link.id.to_s %>" >
                    <%= render(:partial => 'shared/link_record', :locals => {:repo => link.repo ,:link => link , :user => @user ,:owner => owner} )%>
                  </tr>
                  <%end%> 
              </tbody>
            </table>
</div>

