<div class="links new">
  <%= form_tag("/create_links", :method=>'get', :multipart => true) do %>
  <table >
      <%= hidden_field_tag "repo_name", @repo.name  %>
    <tr>
      <td><%= text_area_tag "all_links" , nil , placeholder: 'Drop all links here'%></td>
    </tr>
    <tr>
      <td>
        <%= submit_tag "Drop Links" , class: "btn btn-info"%>
      </td>
    </tr>
  </table >
  <%end%>
</div>

<!-- show list of links in this repo -->
<div class="list_of_links"> 
            <table class="table">
              <thead>
                Links in this Repo:
              </thead>
              <tbody>
              <% owner = current_user==@repo.user %>
                <% @links.each do |link| %>
                    <tr class="<%= cycle('odd','even') %>">                   
                      <td> 
                        <%= link_to( "#{link.actual_link}" , "#{link.actual_link}" , method: :get) %>
                      </td>
                      <td>
                        <%if not link.tags.nil? %>
                            <%tags = link.tags%>
                            <%tags = tags.chomp.split(" ")%>
                            <% if not tags.empty?%>
                                <% for tag in tags%>
                                  <%=link_to(tag, "/remove_link_tag/#{link.id}/#{tag}" , :class => "link tag")%>
                                <%end%>
                            <%end%>
                        <%end%>
                      </td>
                      <td>
                        <%if not link.description.nil? %>
                            <%= link.description %>
                        <%end%>
                      </td>
                      <% if owner %>
                      <td> 
                        <div>
                        <form action="/add_link_tags">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="add tags" name="tags">
                            <span class="input-group-btn">
                              <input type="hidden" name="link_id" value="<%=link.id%>">
                              <button class="btn btn-success" style="display: none;" type="submit">Go!</button>
                            </span>
                          </div>
                        </form>
                        </div>
                      </td>
                      <td> 
                        <div>
                        <form action="/add_link_description">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="describe" name="description">
                            <span class="input-group-btn">
                              <input type="hidden" name="link_id" value="<%=link.id%>">
                              <button class="btn btn-success" style="display: none;" type="submit">Go!</button>
                            </span>
                          </div>
                        </form>
                        </div>
                      </td>
                        <td><%= link_to("Delete " , "/#{@repo.name}/delete_link/#{link.id}") %></td>
                      <% end %>
                  </tr>
                  <%end%> 
              </tbody>
            </table>
</div>