        <div id="<%= 'email_form_' + repo.id.to_s %>" class="demo-description" style="display: none; ">
           <%= form_tag( send_repolink_path , {:remote => true , :method => :post , :id => "send_links_form_#{repo.id}" }) do %>
               <div class="Receipients">
                    <%= text_area_tag "receipients" , nil , placeholder: 'Enter comma-seperated receipients\' email'%>
                </div>
                <div class="Compose-Message">
                    <%= text_area_tag "compose_message" , nil , placeholder: 'Compose Message' %>
               </div>
               <div class="Links" style="display: none; ">
                    <%= text_area_tag "send_repo_id" , repo.id %>
               </div>
               <p>Repo To Be Sent</p>
               <div class ="to_send_links">
                    <%= text_field_tag "to_send_repo" , repo.name, :disabled => true%>
               </div>
               <div class="Submit">
                    <%= submit_tag "Send Email" , :class => "btn btn-info" , :id => "send_repos"%>
               </div>
           <%end%>
           <%= link_to 'Cancel', "/", :rel => "modal:close" %>
        </div>
