         <div id="<%= 'email_form_group'%>" class="demo-description" style="display: none; ">
           <%= form_tag( send_repolinks_path , {:remote => true , :method => :post , :id => "send_links_form_group"  }) do %>
               <div class="Receipients">
                    <%= text_area_tag "receipients" , nil , placeholder: 'Enter tab/space-seperated receipients\' email'%>
                </div>
                <div class="Compose-Message">
                    <%= text_area_tag "compose_message" , nil , placeholder: 'Compose Message' %>
               </div>
               <div class="Links" style="display: none; ">
                    <%= text_area_tag "send_repo_ids" , repos.map { |r|  r.id}.compact.join(",") %>
               </div>
               <p>Repos To Be Sent</p>
               <div class ="to_send_repos" style="height:300px; overflow: auto;" >
                    <%for repo in repos%>
                      <%= text_field_tag "to_send_repos" , repo.name, :disabled => true%>
                    <%end%>
               </div>
               <div class="Submit">
                    <%= submit_tag "Send Email" , :class => "btn btn-info" , :id => "send_repos"%>
               </div>
           <%end%>
           <%= link_to 'Cancel', "/", :rel => "modal:close" %>
        </div>
<script type="text/javascript">
jQuery(document).ready( function () {
   $('#receipients').keydown( function(e) {
    if (e.keyCode == 9 || e.keyCode == 32 || e.keyCode == 188 ) {
      e.preventDefault();
      var str = $(this).val();
      if(!(str.substr(-1) === " ") && str.trim()){
            $(this).val(str + " , " );
      }

    }
   });
});
</script>           