
  <td><%= link_to( "#{repo.name}" , "/#{user.profile_name}/#{repo.name}") %>
  </td>
  <td><%= "created " + time_ago_in_words(repo.created_at) + " ago" %>
  </td>
  <td><%= pluralize(repo.fork_counts, " fork") %>
  </td>
  <td>
      <%= render(:partial => 'shared/show_repo_tags', :locals => {:repo => repo})%>
  </td>
  <% if owner %>
    <td><%=link_to("Delete Folder", delete_repo_path(:repo_id => repo.id) , :class => "link tag" , :method => :post , :remote => true , confirm: "Are you sure, you want to delete this folder?")%>
    </td>
    <td> 
      <%= render(:partial => 'shared/add_tags_update_name', :locals => {:repo => repo})%>
    </td>
    <td> 
      <%= render(:partial => 'shared/catch_all_links', :locals => {:links => repo.links})%>
    </td>
  <%end%>