<!DOCTYPE html>
<html>
<head>
  <title>Pinlinks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if not notice.nil? %>	
	<p class="notice"><%= notice %><p>
<% end%>
<% if not alert.nil? %>
	<p class="alert"><%= alert %><p>
<% end%>
<div class="ajax_flash"></div>
<% if user_signed_in? %>
	<p> Welcome, <%= current_user.profile_name %><p>
	<%= link_to "Log Out", logout_path %>
<% else %>
	<%= link_to 'Sign Up', new_user_registration_path %>	
	<%= link_to "Sign In", new_user_session_path %>
<% end %>

<%= yield %>

<!-- SCRIPTS for using facebook-dialog -->
<%= fb_js %>
<%= javascript_tag do %>
  <%= fb_init_js %>
<% end %>
<!-- SCRIPTS ENDS-->

</body>
</html>
